services:
  - type: web
    name: avify-backend
    env: node
    rootDir: backend
    buildCommand: npm install
    startCommand: npm run start
    autoDeploy: true
    plan: free
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: HOST
        value: 0.0.0.0
      - key: CORS_ORIGIN
        value: https://YOUR_VERCEL_DOMAIN